html {
    font-size: 5vh;
}

body {
    background-image:url(./images/background.jpg);
    background-repeat: repeat;
    background-size:cover;
    background-color: rgb(0, 0, 0);
    font-family: "Courier";
}




header {
    
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding: 0.2rem;
    color:#fff;
    font-size: 0.7rem;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

h1 {
    font-style: oblique;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: .2rem;
    border-bottom: 10px solid white;;
    border-top: 10px solid white;;
    border-right: 10px solid white;;
    border-bottom-right-radius:30px ;
    border-top-right-radius:30px ;
}

nav li {
    position: relative;
    display: inline-block;
    padding: .1rem;
    background-color: #fff;
    border: .2rem solid blue;
    border-radius: .4rem;
    font-weight: bold;
}

#about-me a {
    color: #fff;
}



.container {
    position: relative;
    display: flex;
    flex-wrap: flex;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
    border-top: .15rem solid white;
    border-bottom: .15rem solid white;
   

    
  color: white;

}


.centertext {
    font-size: 2rem;
    position: absolute;
    bottom: .2rem;
    font-weight: bold;
   



}

#work {

position: relative;
display: inline-flex;
flex-direction: column;
/* box-align: center;
align-items: center;
justify-content: center; */

}

#work img {
    border: .3rem solid blue;
    border-radius: .6rem;
}

.work1, .work2, .work3, .work4, .work5, .work6 {
    color: white;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;

   

}

.column:hover::after{
    background-color: blue;

    
}







.row {
    display: flex;
    
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    flex: 50%;
    
}

.column {
    float: left;
    flex: 50%;
    flex-wrap: wrap;
    position: relative;
    padding: 1rem;
  }

  .row img {
    height: 7.5rem;
    
  }

  
  
  /* Clear floats after image containers */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */


    
    

.container img {
display: block;
  width: 100%;
    height: 2rem;
    padding: 0;
    filter: blur(10px);
    opacity: 0.90;
    
   
  
}


article{
    padding-top: 1rem;
    position: relative;
    display: flex;
    font-size: .6rem;
    justify-content: center;
    
}


h2, h3, h4{
    font-size: 1.5rem;
    display: inline-flex;
    flex-direction: column;
    color: white;
    position: relative;
    justify-content: center;
    margin-left: 1rem;
    text-align: center;
}

h2, h4{
    font-size: 1.5rem;
    color: white;
    position: relative;
    justify-content: center;
    margin-left: 1rem;
    text-align: center;
}



#about-me p{
    margin-left: 1rem;
    color: aliceblue;
    
   
}

#about-me img{
    border: 13px solid blue;
    border-radius: 40%;
    box-shadow: -42px 44px 10px rgba(0, 0, 0, 0.562);
    width: 40%;
    height: 6.5rem;
    margin-left: 1.3rem;
   


}
#about-me article {
    display: flex;
    position: relative;
    padding-bottom: 1rem;
}

footer {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    color:#fff;
    font-size: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer h4 {
    display: block;
}


footer ul li {
   
    background-color: #fff;
    border: .2rem solid blue;
    border-radius: .2rem;
    font-weight: bold;
    
    

}
   
    
    

#contact-me ul{
    left: 1rem;
    
   
}

/* } */
#contact-me ul li {
    font-size: 1rem;
    list-style: none;
    position: relative;
    padding: .5rem;
    display: inline-flex;
    
    
}
 
.image-overlay {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.671);
    left: 8.5%;
    top: 12%;
    height: 75%;
    width: 87%;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: .6rem;
}


    

.image-overlay:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
}


a {
    position: relative;
    width: 100%;
    height: 100%;
}





@media screen and (max-width: 992px) {
  
    *:not(title){
        flex-direction: column; 
        flex: 1 1;
        flex-wrap: wrap; 
        align-items: center;
        align-content: center; 
        justify-items: center;
    }
    h1 {
        border: none;
    }
    
  

}

        
        
        





  @media screen and (max-width: 576px) {
    *:not(title){
        flex-direction: column; 
        flex: 1 1;
        flex-wrap: wrap; 
        align-items: center;
        align-content: center; 
        justify-content: center;
  } 
  h1 {
    border: none;
  }
}